.ngrateit{
    cursor: pointer;
    display: inline-block;
}
	.ngrateit-readonly{
		cursor: default;
	}

	.ngrateit-star_wrapper{
		position: relative;
		display: inline-block;
		overflow: hidden;
	}
	.ngrateit-background, .ngrateit-value, .ngrateit-hover{
		position: absolute;
		top: 0;
		left: 0;
		background: url("../images/star.gif");
		background-repeat: repeat-x;
		height: 100%;
	}
	.ngrateit-background{
		width: 100%;
	}
	.ngrateit-reset{
		display: inline-block;
	    background-repeat:no-repeat;
	    position: relative;
	}
	.ngrateit-value{
		background-repeat: repeat-x;
	}
	.ngrateit-value{
		background-repeat: repeat-x;
	}